.container2{
display: inline-block;
width: 100dvw;
justify-content: space-around;


}

table{
    border: solid red 1px;
    margin: .5rem;
    text-align: center;
    width: 80dvw;


    th,td{
            border: solid green 1px;
            padding: .5rem;
    }
}
.galeria{

    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    margin: 2rem;
    padding: 2rem;


}
img{
    width: 380px;
    height: 280px;
    z-index: 1;
}
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
.rainbow {
	position: relative;
	z-index: -1;
	width: 400px;
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
	padding: 2rem;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#47bd669c, #399953), linear-gradient(#fbb300, #af841667), linear-gradient(#d53e33, #d53e33), linear-gradient(#37a9f5, #2c65ce);
		animation: rotate 6s linear infinite;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		left: 6px;
		top: 6px;
		width: calc(100% - 16px);
		height: calc(100% - 16px);
		background-image: url("https://picsum.photos/200/300?grayscale");
		border-radius: 6px;
		/* animation: opacityChange 3s infinite alternate; */
	}
}

@keyframes opacityChange {
	50% {
		opacity:1;
	}
	100% {
		opacity: .5;
	}
}