<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/formulario.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title>Contacto</title>
</head>

<body>
    <header>
        <div>
            <a href="../index.html"></a><img src="../../image/Logo.jpg" alt="logo">
        </div>
        <nav>
            <ul>
               <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/hola.html">Hola</a></li>
                <li><a href="../views/otraMas.html">Otra mas</a></li>
                <li><a href="../views/otraMas.html">Contacto</a></li>
                <li><a href="../views/nueva.html">Nueva</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <section class="formContainer">
            <h2>La Belleza de los Campos de Tulipanes</h2>
            <p>En los jardines japoneses, la naturaleza se convierte en arte en su máxima expresión. La delicadeza de
                los bonsáis, la serenidad de los estanques de koi y la armonía de las piedras dispuestas con cuidado
                crean paisajes de una belleza sobria y elegante. Estos jardines invitan a la contemplación y la paz
                interior, en un mundo donde el tiempo parece detenerse.
            </p>
            <form action="post">
                <label for="name">Nombre</label>
                <input type="text" placeholder="nombre" name="name" id="nombre" autofocus>
                <label for="mail">Email</label>
                <input type="email" placeholder="email" name="mail" id="mail">
                <input type="button" value="send" id="send">

            </form>
        </section>
    </main>
    <footer>

        <div class="rrss">
            <a href="https://es.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/?locale=es_ES"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://x.com/?lang=es"><i class="fa-brands fa-square-x-twitter"></i></i>
        </div>
        <p>&copy;|Eduardo Gregorio</p>

    </footer>

</body>

</html>