<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/articulo.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Otra Mas</title>
</head>

<body>
    <header>
        <div>
            <a href="../index.html"></a><img src="../image/Logo.jpg" alt="logo">
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./hola.html">Hola</a></li>
                <li><a href="./otraMas.html">Otra mas</a></li>
                <li><a href="./contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <section class="containerflex">
            <article class="articulo">
                <h2>Esto es una prueba de articulo</h2>
                <h3>Los Misteriosos Fondos Marinos</h3>
                <p>En las regiones polares, los glaciares se extienden como monumentos de hielo eterno. El crujir de su
                    movimiento es casi hipnótico, mientras enormes bloques de hielo se desprenden en el mar con
                    estruendo. Estos paisajes helados albergan una vida sorprendente, desde osos polares hasta
                    pingüinos, adaptados a un mundo de frío y desafíos constantes.</p>
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Prueba" ><br>

            <button>Ver mas</button>
            </article>
            <article class="articulo">
                <h2>La Elegancia de los Jardines Japoneses</h2>
                <h3>Los Misteriosos Fondos Marinos</h3>
                <p>En las regiones polares, los glaciares se extienden como monumentos de hielo eterno. El crujir de su
                    movimiento es casi hipnótico, mientras enormes bloques de hielo se desprenden en el mar con
                    estruendo. Estos paisajes helados albergan una vida sorprendente, desde osos polares hasta
                    pingüinos, adaptados a un mundo de frío y desafíos constantes.</p>
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Prueba" ><br>

            <button>Ver mas</button>
            </article>
            <article class="articulo">
                <h2>La Grandeza de las Montañas Nevadas</h2>
                <h3>Los Misteriosos Fondos Marinos</h3>
                <p>En las regiones polares, los glaciares se extienden como monumentos de hielo eterno. El crujir de su
                    movimiento es casi hipnótico, mientras enormes bloques de hielo se desprenden en el mar con
                    estruendo. Estos paisajes helados albergan una vida sorprendente, desde osos polares hasta
                    pingüinos, adaptados a un mundo de frío y desafíos constantes.</p>
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Prueba" ><br>

            <button>Ver mas</button>
            </article>
            <article class="articulo">
                <h2>El Misterio de los Bosques Encantados</h2>
                <h3>Los Misteriosos Fondos Marinos</h3>
                <p>En las regiones polares, los glaciares se extienden como monumentos de hielo eterno. El crujir de su
                    movimiento es casi hipnótico, mientras enormes bloques de hielo se desprenden en el mar con
                    estruendo. Estos paisajes helados albergan una vida sorprendente, desde osos polares hasta
                    pingüinos, adaptados a un mundo de frío y desafíos constantes.</p>
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Prueba" ><br>

            <button>Ver mas</button>
            </article>
            <article class="articulo">
                <h2>Esto es una prueba de articulo</h2>
                <h3>Los Misteriosos Fondos Marinos</h3>
                <p>En las regiones polares, los glaciares se extienden como monumentos de hielo eterno. El crujir de su
                    movimiento es casi hipnótico, mientras enormes bloques de hielo se desprenden en el mar con
                    estruendo. Estos paisajes helados albergan una vida sorprendente, desde osos polares hasta
                    pingüinos, adaptados a un mundo de frío y desafíos constantes.</p>
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Prueba" ><br>

            <button>Ver mas</button>
            </article>
        </section>

    </main>
    <footer>
        <div class="rrss">
            <a href="https://es.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/?locale=es_ES"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://x.com/?lang=es"><i class="fa-brands fa-square-x-twitter"></i></i>
        </div>
        <p>&copy;|Eduardo Gregorio</p>
    </footer>

</body>

</html>